/* ■■■■■■■■■　全体を指定　■■■■■■■■■ */
.feature {
    padding: 1rem 5%;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
    min-height: 100vh; /* 最小高さをビューポートの高さに設定 */
    z-index: 1;
}


.feature-image {
    width: 100%;
    object-fit: cover;
}


* {
    margin: 0; /* すべての要素のマージンをリセット */
    padding: 0; /* すべての要素のパディングをリセット */
    box-sizing: border-box; /* パディングとボーダーを幅と高さに含める */
}



.mask-animation {
    pointer-events: auto;
    cursor: pointer;
}

.mask-animation .image-wrapper {
    pointer-events: none;
}

.mask-animation .image-wrapper > * {
    pointer-events: auto;
}



.section_contact_last {
  text-align: center;
  padding: 2rem 0;
}

.section_contact_last h6 {
  font-size: 1.2em !important; /* 優先度を上げ、大きなフォントサイズを強制 */
  margin-bottom: 1rem;
  color: #333;
  font-weight: normal;
  line-height: 1.5;
  animation: none; /* アニメーションを無効化 */
}


body .content .section_contact_last h6 {
  font-size: 2.9em;
}