/* マスクアニメーションの角を丸くする */
.mask-animation {
    border-radius: 20px; /* 角の丸みを調整 */
    overflow: hidden; /* 角が丸くなった部分の画像をクリップ */
}


.mask-animation .feature-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 画像がコンテナ全体を覆うようにする */
}
.mask-animation, .image-container {
    width: 100%;
    height: 100%;
    overflow: visible !important; /* マスクを無効化 */
    clip-path: none !important; /* clip-pathを使用している場合、これを無効化 */
    mask-image: none !important; /* CSS maskを使用している場合、これを無効化 */
}


.image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.8); /* 初期スケールを小さく */
    opacity: 0;
    transition: all 0.4s ease-out; /* アニメーション効果を追加 */
}

.image-wrapper.animated {
    transform: scale(1); /* 表示時にスケールを元に戻す */
    opacity: 1;
    
}