#project-4 .image-container {
    position: relative;
    overflow: hidden;
}

#project-4 .page-counter {
    position: absolute;
    bottom: 22px;
    left: 51%; 
    transform: translateX(-50%) scale(0.6); 
    width: 120px;
    height: 47px;
    background-image: url('assets/pr_4/webp/s4_count.webp');
    background-repeat: no-repeat;
    background-position: 0 100%;
    z-index: 10;
}

#project-4 .page-counter[data-page="1"] { background-position: 0 -299px; }
#project-4 .page-counter[data-page="2"] { background-position: 0 -249px; }
#project-4 .page-counter[data-page="3"] { background-position: 0 -199px; }
#project-4 .page-counter[data-page="4"] { background-position: 0 -149px; }
#project-4 .page-counter[data-page="5"] { background-position: 0 -98px; }

#project-4 .next-button {
    position: absolute;
    bottom: 31px;
    width: 15px;
    height: 24px;
    background-image: url('assets/pr_4/webp/s4_next.webp');
    background-repeat: no-repeat;
    z-index: 10;
}

#project-4 .next-button-left {
    left: calc(50% - 75px);
    background-position: left center;
}

#project-4 .next-button-right {
    right: calc(50% - 75px);
    background-position: right center;
}

#project-4 .playback-control {
    position: absolute;
    width: 30px;
    height: 48px;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    left: 22px;
    bottom: 19px;
    transform: scale(0.7);
}

#project-4 .play-button {
    background-image: url('assets/pr_4/webp/s4_play.webp');
    background-position: 0 7px;

}

#project-4 .stop-button {
    background-image: url('assets/pr_4/webp/s4_stop.webp');
        background-position: 0 7px;

}


#project-4 .stop-button:hover {
    background-position: 0 -0px;  /* stop-button に特化した調整 */
}




#project-4 .playback-control:hover {
    background-position: 0 100%;
}

#project-4 .playback-control {
    cursor: pointer;
    z-index: 1; 
}